<div class="container">
    <div style="float: left;" class="footer_left">
        <table class="footer_tab">
            <tr>
                <td>
                    <a href="#">Countries </a><br>
                    <a href="#">Regions </a><br>
                    <a href="#">Cities</a>
                </td>
                <td>
                    <a href="#">About EXGO.COM</a><br>
                    <a href="#">Partners</a><br>
                    <a href="#">Became a partner</a><br>
                    <a href="#">Vacancies</a>
                </td>
                <td>
                    <a href="#">AQTerms amd conditions</a><br>
                    <a href="#">Privacy and cookies</a><br>
                    <a href="#">Contact</a>
                </td>
            </tr>
        </table>
    </div>

    <div style="float: right; vertical-align: top; padding: 10px; text-align: right;" class="footer_right">
        <span style="color: #ffbc23;"> Hotline DE: </span> 0800 - 154 75 875<br>
        <span style="color: #ffbc23;"> Hotline DE: </span> 0800 - 154 75 875<br>
        <img src="@Url.Content("~/images/new/logos_footer.png")">
    </div>
</div>
